.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button.hover:hover {
  background-color: var(--button-hover);
}

.button-small {
  padding: 10px 16px;
  font-size: 12px;
}
.button-medium {
  padding: 11px 20px;
  font-size: 14px;
}
.button-large {
  padding: 12px 24px;
  font-size: 16px;
}

.button-rounded-none {
  border-radius: 0;
}
.button-rounded-medium {
  border-radius: 1em;
}
.button-rounded-strong {
  border-radius: 2em;
}

.button-shadow-none {
  box-shadow: none;
}
.button-shadow-default {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
.button-shadow-strong {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.button-border-none {
  border: none;
}
.button-border-default {
  border-width: 1px;
  border-style: solid;
}
.button-border-strong {
  border-width: 2px;
  border-style: solid;
}